h1 {
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
}

li > a {
    font-family: monospace;
}

body {
    margin-bottom: 3em;
}

.testclass > td {
    border-bottom: 1px solid silver;
    color: #222222;
    padding: 3px;
    font-weight: bold;
}

.testclass > div {
    padding-left: 1em;
}

.testclass > a > div {
    font-size: 1.3em;
    font-family: sans-serif;
}

.testcase > div {
    border-left: 3px solid black;
    padding-left: 1em;
}

.testcase pre {
    display: block;
    padding: 4px;
    margin-right: 1em;
    background-color: #121212;
    color: #dedede;
    white-space: pre-wrap;
}

.testcase .details b {
    font-size: 1.2em;
}

.stdout, .stderr, .property {
    margin-left: 1em;
}

.testcase-link {
    text-decoration: none;
}

.testcase-cell {
    height: 1.8em;
    width: 1.8em;
    vertical-align: middle;
    text-align: center;
}
.testcase-cell a {
    display: inline-block;
    margin: -1em;
    padding: 1em;
}

.testcase-combined {
    white-space: pre;
    padding-left: 1em;
}

.skipped {
    background-color: gold;
}

.failed {
    background-color: lightcoral;
}

.passed {
    background-color: limegreen;
}

.tooltip {
    visibility: hidden;
    padding: 2px;
    z-index: 1;
    position: absolute;
    background: cornsilk;
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 10px;
    opacity: 0;
}
.tooltip-parent:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.testcase:hover {
    background-color: gray;
    color: white;
}

.result-stats {
    margin: auto;
}


.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    transform: rotate(90deg);
    height: 150px;
    width: 40px;

}
.verticalTableHeader p {
    margin:0 -100% ;
    display:inline-block;
}
.verticalTableHeader p:before{
    content:'';
    width:0;
    padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
    display:inline-block;
    vertical-align:middle;
}



table {

    border-collapse: collapse;
    --table-border-width: 1px;
   }
   th.rotate {
    padding-top: 200px;
     white-space: nowrap;
     position: relative;
   }
   th.rotate > div {
     /* place div at bottom left of the th parent */
     position: absolute;
     bottom: 0;
     left: 0;
     /* Make sure short labels still meet the corner of the parent otherwise you'll get a gap */
     text-align: left;
     /* Move the top left corner of the span's bottom-border to line up with the top left corner of the td's border-right border so that the border corners are matched
      * Rotate 315 (-45) degrees about matched border corners */
     transform:
       translate(calc(100% - var(--table-border-width) / 2), var(--table-border-width))
       rotate(315deg);
     transform-origin: 0% calc(100% - var(--table-border-width));
     width: 100%;
   }
   th.rotate > div > span {
     /* make sure the bottom of the span is matched up with the bottom of the parent div */
     position: absolute;
     bottom: 0;
     left: 0;
     border-bottom: var(--table-border-width) solid gray;
   }
   td {
     /* border-right: var(--table-border-width) solid gray; */
     /* make sure this is at least as wide as sqrt(2) * height of the tallest letter in your font or the headers will overlap each other*/
     min-width: 30px;
     padding-top: 2px;
     padding-left: 5px;

   }

